
.register {
    height: 100vh;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

img {
    position: absolute;
    top: 0;
    margin-top: 40px;
    
}



@media only screen and (max-width: 600px) {

    .register {
       padding: 40px;
    }

    .register img {
        width: 90%;
    }
}
