
.notfound_container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

h1 {
    font-family: var(--main-font);
    font-size: 100px;
    color: white;
}

h3 {
    font-family: var(--main-font);
    color: white;
}

a {
    color: white;
}