* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --background: #151718;
  --background-input: #514b4b;
  --light-blue: #0d6efd;
  --main-font: 'Poppins', sans-serif;

  font-family: var(--main-font);
  background-color: var(--background);
}


#root {
  height: 100vh;
  width: 100vw;
}
