
.banner {
    color: var(--background);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    gap: 50px;
    /* margin-left:100px; */
}

.banner h1{
    color: var(--background);
    font-size: 50px;
}

.banner_image_container img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    border-radius: 10px;
    margin-top: 0;
    position: relative;
}

/* .banner_image {

} */

